<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search Federal Registrar</title>

    {% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
    <link href="{% static 'css/grayscale-override.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/shorthand.css' %}">

    <!-- Data Table -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    
    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
   <script>

       
       
    </script>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-search"></i>  
                    <span class="light">FR4<span class="txt-red">L</span><span class="txt-green">G</span><span class="txt-blue">B</span><span class="txt-purple">T</span><span class="txt-yellow">Q</span></span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll login" onClick="fbLogin()">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#search">Search</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        <div class="rainbow-bar"></div>
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><i class="fa fa-search"></i>    Federal Registrar</h1>
                        <p class="intro-text mar0">A free, easy to use search tool for our nation's registrar.</p>
                        <p class='f14 o6'>created at #hackdance for the lgbtq team</p>
                        <div
                            class="fb-like"
                            data-send="true"
                            data-width="450"
                            data-show-faces="true">
                        </div>
                        <a href="#search" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <!-- <p class='f14 o6'>created at #hackdance for the lgbtq team</p> -->
    
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- About Section -->
    <section id="search" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br /><br /><br />
                <h2 class="brand-heading"><i class="fa fa-search"></i>Search Results</h2>
                <p class="intro-text mar0">Searching all articles between {{ start_date }} to {{ end_date }}.</p>
                <br /><br /><br />
                <table id="example" class="display nowrap dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 115px;">
                                Name</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 192px;">
                                Position</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 84px;">
                                Office</th>
                            <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">
                                Age</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Name</th>
                            <th rowspan="1" colspan="1">HTML Link</th>
                            <th rowspan="1" colspan="1">PDF Link</th>
                            <th class="dt-body-right" rowspan="1" colspan="1">Salary</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for result in json.results %}
                        <tr role="row" class="{% cycle 'odd' 'even' %}">
                            <td class="sorting_1">{{ result.title|truncatechars:30 }}</td>
                            <td><a href="{{ result.html_url }}" target="_blank">HTML</a></td>
                            <td><a href="{{ result.pdf_url }}" target="_blank">PDF</a></td>
                            <td class=" dt-body-right">{{ result.publication_date }}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Keywords Section -->
    <section id="keywords" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="brand-heading"><i class="fa fa-search"></i>Keywords</h2>
                <table id="example" class="display nowrap dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 115px;">
                                Keyword</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 192px;">
                                Link</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Keyword</th>
                            <th rowspan="1" colspan="1">Link</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <tr role="row" class="odd">
                            <td class="sorting_1">New Keyword</td>
                            <td><a href="/api/keywords">Add</a></td>
                        </tr>
                        {% for keyword in keywords %}
                        <tr role="row" class="{% cycle 'even' 'odd' %}">
                            <td class="sorting_1">{{ keyword.keyword }}</td>
                            <td><a href="/api/keywords/{{ keyword.id }}">Update</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; FR4LGBTQ 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    
    <!-- Parse -->
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
    <script src="{% static 'js/parse-calls.js' %}"></script>
    <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

</body>

</html>
